*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.cliente{
    margin: 0;
    padding: 0;
    
}
.A-C{
    text-decoration: none;
    color: #fff;
    margin: 30px;
    padding: 0px;
   
    
}
.V-C{
    text-decoration: none;
    color: #fff;
    margin: 54px;
    padding: 0px;
   
}
